body {
    font-family:"Manrope", sans-serif;  
    margin: 0;
}

.header {
    display: flex;
    gap: 10%;
    flex-direction: row;
    padding-top: 20px;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    top: 0;
    padding-bottom: 20px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
    right: 0;
} 

.header div {
    align-content: center;
}

.Vaultico-logo  img {
    width: 150px;
    margin-left: 30px;
}

.about-us {
    display: inline-flex;
    gap: 65px;
    font-weight: 700;
    color :#636363;
}

.about-us > div >a , img{
    color :#636363;
    align-self: center;
}

.about-us > div {
    display: flex;
    gap: 6px;
}

.about-us > div > img {
    width: 20px;
    height: 20px;
}

.green-button {
    display: flex;
    background-color:  #6FC247;
    border-radius: 10px;
    align-content: center;
    margin-right: 30px;
    flex-shrink: 0;
}

.green-button > a {
    color: white;
    font-weight: 700;
    padding: 24px 0px 24px 40px;
    flex-wrap: nowrap;
    align-self: center;
    
}

.green-button > img {
    padding-right: 40px;
}


a {
    text-decoration: none;
}

.sub-head {
    padding-top: 10%;
    width: 900px;
    text-align: center;
    margin: auto;
}

.first-head > h2 {
    font-size: 60px;
    line-height: 87.42px;
    color: #373737;
}

.first-para > p {
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
}

.two-buttons {
    width: 480px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.sub-h {
    width: 230px;
}

.login {
    width: 230px;
    background-color: white;
    border: 1px  #6FC247 solid;
}

.login > a {
    color: #6FC247;
    padding-left: 0;
    margin: auto;
}

.general-img {
    width: auto;
    margin: auto;
}

.general-img > img {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

.financial-firms {
    text-align: center;
    margin-top: 100px;
    color: #373737;
}

.firms-word > h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 43.71px;
}

.firms-word > p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    width: 1000px;
    margin: auto;
}

.firm-img {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    width: 1000px;
    margin: auto;
}

.firm-img > div {
    width: 220px;
}
.firm-img > div > img {
    width: 100%;
    margin-top: 30px;
}

.question {
    margin-top: 100px;
    height: 350px;
    padding: 7px 103px 82px 103px;
    background-color: #111111;
    width: auto;
}

.big-question {
    width: 800px;
    text-align: center;
    margin: auto;
}
 
.big-question > h2 {
    color: white;
    font-size: 40px;
    font-weight: 800;
    line-height: 54.64px;
}

.big-question > p {
    font-size: 19px;
    font-weight: 500;
    line-height: 30px;
    color: #D7D7D7;
    margin-bottom: 60px;
}

.three-answers {
    display: flex;
    justify-content: space-between;
}
 
.answers {
    width: 340px;
}

.answers > h2 {
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 32.78px;
}

.answers > p {
    color: #D7D7D7;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
}

.valuations {
    width: 1062px;
    height: 120px;
    margin: auto;
    color: #373737;
    padding-top: 50px;
}

.valuations h2 {
    font-size: 32px;
    line-height: 43.71px;
    text-align: center;
}

.valuations p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
}

.perks {
    display: flex;
    padding: 10px 50px 30px 50px;
    margin-top: 100px;
    height: 693px;
    justify-content: space-between;
}


.list {
    height: 161px;
    width: 413px;
    margin-bottom: 100px;
}

.list > h2 {
    color: #373737;
    font-size: 24px;
    line-height: 32.78px;
}

.list > p {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.perk-img {
   height: 690px;
   width: 720px;
}

.perk-img > img{
   height: 100%;
   width: 100%;
}

.end {
    width: 230px;
    margin: auto;
}

.end-button {
    margin: 20px 0 50px 0;
}

@media (max-width:1080px) {
    
    .about-us{
        display: none;
    }
    .start {
        display: none;
    }
    .header {
        width: 100%;
    }
    .sub-head{ 
        width: 700px;
    }
    .first-head > h2 {
        font-size: 40px;
        line-height: 60px;
        width: auto;
    }
    .firm-img {
        grid-template-columns: auto auto auto;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        width: 720px;
        margin: auto;
    }
    .firm-img > div {
        width: 240px;
    }
    .firm-img >div> img {
        width: 100%;
    }
    .firms-word > p {
        width: 834px;
        margin-bottom: 50px;
    }
    .valuations {
        width: 775px;
    }
    .question{
        height: auto;
        padding: 4px, 0px, 4px, 0px;
    }

    .big-question {
        width: 700px;
    }
    .big-question > h2 {    
        font-size: 24px;
        font-weight: 800;
        line-height: 32.78px;
        text-align: center;
    }
    .big-question > p {
        font-size: 15px;
        font-weight: 500;
        line-height: 40px;
        width: 700px;
    }
   
    .three-answers {
        flex-direction: column;
    }
    .answers {
        width: auto;
    }
    .perks {
        justify-content: space-around;
    }
    .perk-img{
        width: 369px;
    }
}


